<div class="container">
  <h2>Edit Comment for <%= @location.name %></h2>

</div>

<%= render 'form' %>

<%= link_to 'Delete', city_item_path(@city,@item), method: :delete, :class => "btn btn-inverse mylink" %>
