<h1><%= @city.name %> Items</h1>



<%= link_to "Edit", edit_city_path(@city)%>

  <% @items.each do |item| %>
    <p>
      <%= link_to item.name, city_item_path(@city, item)%>
    </p>
  <% end %>

<%= link_to "(+)", new_city_item_path(@city)%>
