// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.edit-link{
  font-size: 15px;
}

.awards{
  height: 200px;
  width: cover;
  background-color: black;
  display: flex;
  justify-content: center;
}

.item-container{
  width: 200px;
}

.item-show-image{
  width: 200px;
  height: 200px;
}

.mine{
  width: 400px;
  margin: 0px 0px 0px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.community{
  width: 400px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.medal-holder{
  display:flex;
  flex-direction: row;
}

.medal{
  height: 50px;
  width: 50px;
}

.medal-winner{
  padding: 15px 0px;
  width: 200px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-family: 'Lobster', cursive;
}

.medal-icon-holder{
  text-align: center;
}

.location-img{
  border-radius: 50%;
}

.location-caption{
  height: 20px;
  text-align: center;
  color: white;
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
  font-weight: 800;
}
