// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.h1test{
  color: white;
  font-size: 50px;
  font-family: "Lobster", cursive;
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
  margin: 10px 10px 10px 20px;
}

.h1-title{
  // color: white;
  // font-size: 50px;
  // font-family: "Lobster", cursive;
  // text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
  // margin: 10px 10px 10px 20px;
  padding: 15px 0px;
  width: 200px;
  text-decoration: none;
  font-size: 50px;
  color: white;
  font-family: 'Lobster', cursive;
}
