// Place all the styles related to the Locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.awards{
  height: 200px;
  width: cover;
  background-color: red;
  display: flex;
  justify-content: center;
}

.mine{
  margin: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.community{
  margin: 0 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.medal{
  margin: 20px;
}
