
<div class="container">
  <h2>Edit Location</h2>
</div>

<%= render 'form' %>

<br>


<div class="container">
  <%= link_to 'Delete!', city_item_location_path(@city,@item,@location), method: :delete, :class => "btn btn-inverse mylink"  %>
</div>
