<h1><%= @location.name%> - Comments</h1>

<p><%= @location.address%></p>

<%= link_to "(Edit)", edit_city_item_location_path(@city,@item,@location)%>

  <% @comments.each do |comment| %>
    <p>
      <%= comment.text%>
    </p>
  <% end %>
